<html>
    <head>Yolo</head>
    <body>
        <form action="./admin/ideacontrol" method="POST">
            Idea_id<input type="text" name="idea_id"><br>
            Participant
            Status<input type="text" name="setstatus">
            <input type="Submit" name="Submit">
        </form>
    </body>
</html>